@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: rgb(203, 160, 103);
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: rgb(31, 31, 2);
    color: rgb(216, 167, 167);
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 2.3rem;
}

.container{
    min-height: 60vh;
    background-color: rgb(216, 120, 120);
    color: rgb(178, 157, 157);
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 22px;
   padding: 34px;
   background-image: url('bg.jpg');
   background-size: cover; /* Resize background image to cover the container */
    background-position: left-50px top; /* Align the background image to the right side */
    background-repeat: no-repeat; /* Prevent background image from repeating */
}
.songList h1 {
    font-size: 54px;
    font-weight: bold;
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 94px;
}

.songItem{
    height: 70px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 20px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 84px;
}

.songItem img{
    width: 70px;
    margin: 0 43px;
    border-radius: 94px;
    height: auto ;
    display : block;
    
    
}
.songItem .songName {
    flex: 1; /* Allow song name to take remaining space */
    font-weight: bold;
    margin-top: 10px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: rgb(228, 126, 167);
    }
  }